.add-item__form {
    margin: 0 auto;
    background-color: hsl(0, 0%, 95%);
    box-shadow: 3px 3px 5px hsl(0, 0%, 30%);
    padding-top: 0.5rem;
}

.add-item__button {
    display: block;
    margin: 0.5rem auto;
    background-image: 
    linear-gradient(to right, 
    #FF3184,
    #FF7F3C,
    #FFCA32);
    font-size: clamp(1.25rem, 0.9667rem + 0.6095vw, 1.75rem);
    padding: 0.5rem 1.25rem;
}

input[type=text] {
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 95%;
    font-size: clamp(1.25rem, 0.9667rem + 0.6095vw, 1.75rem);
    display: block;
    margin: 1rem auto;
  }