li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    margin: 0.5rem auto;
    background-color: hsl(0, 0%, 96%);
    box-shadow: 3px 3px 5px hsl(0, 0%, 30%);
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    height: 100%;
    font-size: clamp(1.25rem, 0.9667rem + 0.6095vw, 1.75rem);
    flex: 1;
    word-break: break-word;
    hyphens: auto;
}

span {
    height: 100%;
    cursor: pointer;
    color: hsl(0, 0%, 95%);
    font-size: clamp(1.25rem, 0.9667rem + 0.6095vw, 1.75rem);
    padding: 0.5rem;
}

span:hover {
    opacity: 0.75;
}

span:active {
    opacity: 0.5;
}

.complete__btn {
    background-color: hsl(145, 90%, 40%);
}

.delete__btn {
    background-color: hsl(340, 78%, 46%);
  }

.done {
    text-decoration: line-through;
}