* {
  box-sizing: border-box;
  padding: 0rem;
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-image: 
  linear-gradient(to bottom right, 
  hsl(250, 90%, 70%), 
  hsl(280, 80%, 95%));
}

main {
  width: min(100%, 700px);
  margin: 0 auto;
}

button {
  font-family: 'Roboto Condensed', sans-serif;
  cursor: pointer;
  border: 0px;
  color: hsl(0, 0%, 95%);
  font-weight: bold;
  width: 100%;
}

button:hover {
  opacity: 0.75;
}

button:active {
  opacity: 0.5;
}